<div ng-include="'components/navbar/navbar.html'"></div>

<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4"> 
        <img src="http://placehold.it/350x150&text=An Awesome CS" />
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-2"></div>
          <div class="col-md-5"></div>
        </div>
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
        </div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
</header>

<br/>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!--StatBlock-->
      <div class="row">
        <div class="col-sm-6">
         	<div ng-repeat="(stat, score) in data.abs" >
         	    <div class="col-xs-12 col-sm-6 statName">{{stat}}</div>
         	    <div class="col-xs-6 col-sm-3 statInput" >
         	    	<div class="innerStat"><input class="form-control input-md" ng-model="score.val" value="{{score.val}}" /></div>
         	    </div>
         	    <div  class="col-xs-6 col-sm-3 "><div class="innerStat">{{score.getModifier()}}</div></div>
         	</div> 
       </div>
       <!-- Hitpoint data & Init -->
       <div class="col-sm-6">
       	<div class="row">  
       	  <div class="col-xs-3 statName fontMedium">Total HP</div>
       	  <div class="col-xs-3 statInput"><div class="innerStat">{{calcHP()}}</div></div>
       	  <div class="col-xs-3 statName fontMedium">Current HP</div>
       	  <div class="col-xs-3"><div class="innerStat">{{updateHP()}}</div></div>
       	</div>
       	<div class="row">  
       	  <div class="col-xs-3 statName fontSmall">Lethal Damage</div>
       	  <div class="col-xs-3 statInput"><div class="innerStat"><input  class="form-control input-md" ng-model="data.lethalDamage" value="{{data.lethalDamage}}" /></div></div>
       	  <div class="col-xs-3 statName fontSmall">Nonlethal Damage</div>
       	  <div class="col-xs-3 statInput"><div class="innerStat"><input class="form-control input-md" ng-model="data.nonlethalDamage" value="{{data.nonlethalDamage}}" /></div></div>
       	</div>
       	<div class="row">  
       	  <div class="col-xs-3 statName fontMedium">Initiative</div>
       	  <div class="col-xs-3 statInput"><div class="innerStat">{{calcInit()}}</div></div>
       	  <div class="col-xs-3 statName">AC</div>
       	  <div class="col-xs-3 statInput"><div class="innerStat">{{calcAC()}}</div></div>
       	</div>
       </div>
      </div>
    </div>
    <div class="col-md-6">
       <!-- {{thefeats}} -->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 featSection">
      <h2 class="statName" style="text-align:center">Feats</h2>
      <div ng-repeat="feat in feats" ng-init="isCollapsed = true">
      	<span ng-click="isCollapsed = !isCollapsed" >{{feat.name}}</span>
      	<div collapse="isCollapsed">
		<div class="well well-lg">{{feat.benefit}}</div> 
	</div>
      </div>
      <br/>
      <input type="text" ng-model="selectFeat" typeahead="feat.id as feat.name for feat in allFeats | filter:$viewValue | limitTo:8" placeholder="New Feat" class="form-control" typeahead-on-select="addFeat($item)">
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    </div>
</div>

<footer class="footer">
  <div class="container"></div>
</footer>