.innerStat {
	display:block;
	border:2px solid #222;
	padding:1px;
	width:100%;
	height: 40px;
	font-size: 1.5em;
	margin-bottom:5px;
	text-align:center;
}
.statName {
	background:#222;
	color:#FFF;
	font-size:1.5em;
	height:40px;
	text-align:right;
	margin-bottom:5px;
	padding-top:5px;
	@media (max-width: $screen-xs-max) { 
		text-align:center;
	}

}

.fontSmall {
	font-size: .75em;
}

.fontMedium {
	font-size: .9em;
}

.statInput {
	input {
		border: none;
		box-shadow:none;
  		padding: 7px 3px;
  		text-align:center;
  		font-size: 0.95em;
  		color:#222;
  		font-weight:bold;

  	}
 }

.featSection{
	span{
		border-bottom:1px dashed #222;
		font-size:1.2em;
		cursor:pointer;
		display:block;
		padding:10px;
	}
}